@{
    ViewData["Title"] = "Application";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Application Name: Ex Name
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Department: Ex Dept.
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Dept. Manager: Ex. Dept. Manager
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Client: Ex. Client Name
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Primary BA: Ex. Primary BA
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Technical Contact: Ex. Technical Contact
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Appplication Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Ex. App. Type
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. App. Type
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. App. Type
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">

                            <button type="button" class="btn btn-info btn-block">
                                Add
                            </button>
                        </div>
                        <div class="col-md-6">

                            <button type="button" class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Technologies
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Ex. Tech
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. Tech
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. Tech
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. Tech
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ex. Tech
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">

                            <button type="button" class="btn btn-info btn-block">
                                Add
                            </button>
                        </div>
                        <div class="col-md-6">

                            <button type="button" class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Servers
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Server Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Production
                        </td>
                        <td>
                            Ex. Server Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Production
                        </td>
                        <td>
                            Ex. Server Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            QA
                        </td>
                        <td>
                            Ex. Server Name
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-info btn-block">
                        Add
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            URLs
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            URL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Production
                        </td>
                        <td>
                            Ex. URL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            QA
                        </td>
                        <td>
                            Ex. URL
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Development
                        </td>
                        <td>
                            Ex. URL
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-info btn-block">
                        Add
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Code Source: Ex. Code Source
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Stability Rating: Ex. Stability Rating
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Future Dev. Rating: Ex. Rating
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Repository: Ex. Repository
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                Sensitive Data: Ex. Sensitive Data
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Criticality: Ex. Criticality
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">

                            <button type="button" class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Notes
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Note Text
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Ex. Name
                        </td>
                        <td>
                            Ex. Note
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ex. Name
                        </td>
                        <td>
                            Ex. Note
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ex. Name
                        </td>
                        <td>
                            Ex. Note
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ex. Name
                        </td>
                        <td>
                            Ex. Note
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ex. Name
                        </td>
                        <td>
                            Ex. Note
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-info btn-block">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>