@{
    ViewData["Title"] = "Application";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Application Name:
                        </td>
                        <td>
                            <input type="text" id="appName" name="appName" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Department:
                        </td>
                        <td>
                            <input type="text" id="dept" name="dept" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dept. Manager:
                        </td>
                        <td>
                            <input type="text" id="deptMgr" name="deptMgr" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Client:
                        </td>
                        <td>
                            <input type="text" id="client" name="client" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Primary BA:
                        </td>
                        <td>
                            <input type="text" id="ba" name="ba" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tech. Contact:
                        </td>
                        <td>
                            <input type="text" id="contact" name="contact" value="EXAMPLE" readonly>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            Application Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">

                    <button type="button" class="btn btn-sm btn-block btn-info">
                        Add
                    </button>
                </div>
                <div class="col-md-6">

                    <button type="button" class="btn btn-success btn-sm btn-block">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            Technology
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">

                    <button type="button" class="btn btn-block btn-sm btn-info">
                        Add
                    </button>
                </div>
                <div class="col-md-6">

                    <button type="button" class="btn btn-success btn-block btn-sm">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th colspan="2">
                            Servers
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Server Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-block btn-sm btn-info">
                        Add
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-block btn-sm">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th colspan="2">
                            URLs
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            URL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-block btn-sm btn-info">
                        Add
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-block btn-sm">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Code Source:
                        </td>
                        <td>
                            <input type="text" id="source" name="source" value="EXAMPLE">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Stability Rating:
                        </td>
                        <td>
                            <input type="text" id="stable" name="stable" value="EXAMPLE">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Future Dev. Rating:
                        </td>
                        <td>
                            <input type="text" id="future" name="future" value="EXAMPLE">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Repository:
                        </td>
                        <td>
                            <input type="text" id="repo" name="repo" value="EXAMPLE">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sensitive Data:
                        </td>
                        <td>
                            <input type="text" id="sensitive" name="sensitive" value="EXAMPLE">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Criticality:
                        </td>
                        <td>
                            <input type="text" id="crit" name="crit" value="EXAMPLE">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">

                    <button type="button" class="btn btn-success btn-block btn-sm">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Notes
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Note Text
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EXAMPLE
                        </td>
                        <td>
                            EXAMPLE
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-block btn-sm btn-info">
                        Add
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-sm btn-block">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>