@model Sogeti_Client_Data_Repository.Models.displayClientApplications;
@{
    ViewData["Title"] = "ClientInfo";
}
<script>
    //global array of client objects used to populate the data in the table
    var clientData = [];
    //global variables that are updated when a new client is created
    var newClientName = "";
    var newDescription = "";

    /*
     * This function is called on page load. It calls the getClientInfo
     * method in the displayClients class, which invokes the stored procedure
     * which returns a list of all Client objects in the database. The list
     * is converted to a javascript array and the array is used to populate the
     * table on this page.
     */
    function loadData() {
        var table, row, cell, input;

        @{
            displayClients clientData = new displayClients();
            List<Client> htmlData = clientData.getClientInfo();

            foreach (Client entry in htmlData) {
            <text>
                var entry = { clientId : '@entry.ClientId', clientName : '@entry.ClientName', description: '@entry.Description' };
                clientData.push(entry);
            </text>
            }
        }

        table = document.getElementById("clientTable");
        
        for (i = 0; i < clientData.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            cell.setAttribute("class", "col-3");
            input = document.createElement('a');
            var linkText = document.createTextNode(clientData[i].clientName);
            input.appendChild(linkText);
            input.href = '@Url.Action("getIdForClientApp","Home")/' + clientData[i].clientId;
            input.title = clientData[i].clientName;
            cell.appendChild(input);

            cell = row.insertCell(1);
            cell.setAttribute("class", "col-9");
            input = document.createElement('input');
            input.type = 'text';
            input.value = clientData[i].description;
            cell.appendChild(input);
        }

    }
    /*
     * This function creates a new row in the client table. It allows users
     * to enter information into the cells, which can then be saved into the
     * database.
     */
    function newClient() {
        var table = document.getElementById("clientTable");
        var length = table.rows.length;
        var row = table.insertRow(length);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.setAttribute("class", "col-3");
        cell2.setAttribute("class", "col-9");

        var input1 = document.createElement('input');
        input1.type = 'text';
        input1.id = 'clientToBeAdded';
        var input2 = document.createElement('input');
        input2.type = 'text';
        input2.id = 'clientDescriptionToBeAdded';

        cell1.appendChild(input1);
        cell2.appendChild(input2);
    }

    /*
     * This function implements the client search functionality. It begins by grabbing
     * the information the user entered in the search bar and deleting the rows currently
     * in the table. It then compares the items in the search bar with the records in the
     * clientData array. If there is a match, then the function redraws the row with the
     * matched data.
     */
    function searchForClient() {
        var clientToSearchFor = document.getElementById("clientToSearchFor").value;
        var descriptionToSearchFor = document.getElementById("descriptionToSearchFor").value;
        table = document.getElementById("clientTable");
        table.innerHTML = "";

        console.log(clientData.length);

        for (i = 0; i < clientData.length; i++) {
            if (clientData[i].clientName.includes(clientToSearchFor)
                || clientData[i].description.includes(descriptionToSearchFor)) {

                console.log("true")

                row = table.insertRow(table.length);
                cell = row.insertCell(0);
                cell.setAttribute("class", "col-3");
                input = document.createElement('a');
                var linkText = document.createTextNode(clientData[i].clientName);
                input.appendChild(linkText);
                input.href = "ClientApplications/"
                input.title = clientData[i].clientName;
                cell.appendChild(input);

                cell = row.insertCell(1);
                cell.setAttribute("class", "col-9");
                input = document.createElement('input');
                input.type = 'text';
                input.value = clientData[i].description;
                cell.appendChild(input);
            }
        }
    }

    /*
     * This function saves a new client to the database. It grabs the
     * information entered by the user in the row created by the newClient function
     * and sends it to the saveClient method in the displayClients class with an
     * ajax call.
     */
    function saveNewClient() {
        newClientName = document.getElementById("clientToBeAdded").value;
        newDescription = document.getElementById("clientDescriptionToBeAdded").value;

        console.log(newClientName);
        console.log(newDescription);

        $.ajax({
            type: "POST",
            url: "saveClient",
            data: {
                name: newClientName,
                description: newDescription
            },
            dataType: "json",
            success: function (response) {
                alert("success");
            },
            failure: function (response) {
                alert("success");
            },
            error: function (response) {
                alert("success");
            }
        })
    }
</script>
<head>
    <style>
        .table-fixed tbody {
            height: 300px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead,
        .table-fixed tbody,
        .table-fixed tr,
        .table-fixed td,
        .table-fixed th {
            display: block;
        }

            .table-fixed tbody td,
            .table-fixed tbody th,
            .table-fixed thead > tr > th {
                float: left;
                position: relative;
            }
    </style>
</head>
<body onLoad="loadData()">
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="col-md-2">
                        <input id="clientToSearchFor" type="text" placeholder="Client Name">
                    </div>
                    <div class="col-md-5">
                        <input id="descriptionToSearchFor" type="text" placeholder="Description">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-info btn-block" value='Search' onclick="searchForClient()">
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th class="col-3">Client Names</th>
                            <th class="col-9">Descriptions</th>
                        </tr>
                    </thead>
                    <tbody id="clientTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block" onclick="newClient()">
                            New Client
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block" onclick="saveNewClient()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
