@{
    ViewData["Title"] = "ClientApplications";
}

<head>
    <style>
        .table-fixed tbody {
            height: 300px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead,
        .table-fixed tbody,
        .table-fixed tr,
        .table-fixed td,
        .table-fixed th {
            display: block;
        }

        .table-fixed tbody td,
        .table-fixed tbody th,
        .table-fixed thead > tr > th {
            float: left;
            position: relative;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="border border-dark rounded">
                    Client Name: Example Name
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="border border-dark rounded">
                    Description: Example Description
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">Application Name? </th>
                            <th scope="col" class="col-4">Server Environment? </th>
                            <th scope="col" class="col-5">Server Location? </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Application 1</td>
                            <td scope="col" class="col-4">Production</td>
                            <td scope="col" class="col-5">location 1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block">
                            Add
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
