@{
    ViewData["Title"] = "ClientInfo";
}

<head>
    <style>
        .table-fixed tbody {
            height: 300px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead,
        .table-fixed tbody,
        .table-fixed tr,
        .table-fixed td,
        .table-fixed th {
            display: block;
        }

            .table-fixed tbody td,
            .table-fixed tbody th,
            .table-fixed thead > tr > th {
                float: left;
                position: relative;
            }
    </style>
</head>
<body>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="col-md-2">
                        <input type="text" name="ClientName" placeholder="Client Name">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="Description" placeholder="Description">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block"> Search </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">Client Names</th>
                            <th scope="col" class="col-9">Descriptions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" class="col-3">Client 1</td>
                            <td scope="col" class="col-9">Description 1</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 2</td>
                            <td scope="col" class="col-9">Description 2</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-3">Client 3</td>
                            <td scope="col" class="col-9">Description 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block">
                            New Client
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
