@using System.Collections.Generic
@using System.Diagnostics;
@{
    ViewData["Title"] = "dataView";
    getTableData getData = new getTableData();
    List<dataTableEntry> data = new List<dataTableEntry>();
    data = getData.getDataTableEntriesTest();
}
<style>
    tbody th:hover {
        background-color: #ffa;
    }
</style>
<style>
    .checkboxes {
        width: 10%;
        min-width: 225px;
        float: left;
        margin-left: 10px;
    }

    #tableInfo {
        width: 83%;
        float: right;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
    }

    .dropdown-inputs {
    }

    #check-boxes-and-tables {
        margin-top: 10px;
    }

    .form-check {
        padding: inherit;
    }

    .form-check {
        background-color: lightgray;
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
    }

    input[type=checkbox] {
        transform: scale(1.5);
        margin-left: 10px;
        margin-top: 8px;
    }

    .form-check-label {
        margin-left: 30px;
        font-size: larger;
    }

    .hidden {
        display: none;
    }

    .selected {
    }
</style>
<body>
    <div id="check-boxes-and-tables">
        <div class="checkboxes">
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="0" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    App ID
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="1" type="checkbox" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    App Name
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="2" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Application Type
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="3" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Client
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="4" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Code Source
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="5" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Criticality
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="6" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Department
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="7" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Department Manager
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="8" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Devlopment Server
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="9" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Devlopment URL
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="10" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Future Devlopment
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="11" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Primary BA
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="12" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Production Server
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="13" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Production URL
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="14" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    QA Server
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="15" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    QA URL
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="16" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Repository
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="17" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Sensitivity
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="18" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Stability
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="19" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Tech
                </label>
            </div>
            <div class="form-check">
                <input name="inputBox" class="form-check-input" value="20" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Tech Contact
                </label>
            </div>
        </div>
        <div id="tableInfo">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th class="col-0 hidden"> App ID</th>
                        <th class="col-1 hidden"> App Name</th>
                        <th class="col-2 hidden"> Application Type</th>
                        <th class="col-3 hidden"> Client </th>
                        <th class="col-4 hidden"> Code Source</th>
                        <th class="col-5 hidden"> Criticality</th>
                        <th class="col-6 hidden"> Department</th>
                        <th class="col-7 hidden"> Department Manager </th>
                        <th class="col-8 hidden"> Devlopment Server</th>
                        <th class="col-9 hidden"> Devlopment URL</th>
                        <th class="col-10 hidden">Future Devlopment</th>
                        <th class="col-11 hidden">Primary BA</th>
                        <th class="col-12 hidden">Production Server</th>
                        <th class="col-13 hidden">Production URL</th>
                        <th class="col-14 hidden">QA Server</th>
                        <th class="col-15 hidden">QA URL</th>
                        <th class="col-16 hidden">Repository</th>
                        <th class="col-17 hidden">Sensitivity</th>
                        <th class="col-18 hidden">Stability</th>
                        <th class="col-19 hidden">Tech</th>
                        <th class="col-20 hidden">Tech Contact</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                </tbody>
            </table>
        </div>
</body>
<script>
    var data = []
    var entry1 = { App_ID: "2", App_name: "BugSmacker", ApplicationType: "", Client: "", CodeSource: "1", Criticality: "5", Department: "1", DepartmentManager: "", DevlopmentServer: "", DevlopmentURL: "", FutureDevlopment: "4", PrimaryBA: "", ProductionServer: "", ProductionURL: "", QaServer: "", QaURL: "", Repository: "1", Sensitivity: "1", Stability: "2", Tech: "", TechContact: "" };
    var entry2 = { App_ID: "3", App_name: "BugSmacker", ApplicationType: "", Client: "", CodeSource: "1", Criticality: "5", Department: "1", DepartmentManager: "", DevlopmentServer: "", DevlopmentURL: "", FutureDevlopment: "4", PrimaryBA: "", ProductionServer: "", ProductionURL: "", QaServer: "", QaURL: "", Repository: "1", Sensitivity: "1", Stability: "2", Tech: "", TechContact: "" };
    var entry3 = { App_ID: "4", App_name: "BugSmacker", ApplicationType: "", Client: "", CodeSource: "1", Criticality: "5", Department: "1", DepartmentManager: "", DevlopmentServer: "", DevlopmentURL: "", FutureDevlopment: "4", PrimaryBA: "", ProductionServer: "", ProductionURL: "", QaServer: "", QaURL: "", Repository: "1", Sensitivity: "1", Stability: "2", Tech: "", TechContact: "" }
    data.push(entry1);
    data.push(entry2);
    data.push(entry3);


    // Find a <table> element with id="myTable":
    var table = document.getElementById("dataTableBody");

    data.forEach(function (value, i) {
        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow();
        row.setAttribute("id", `row-${value.App_ID}`); //Sets the row Id to the App ID 


    // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
    Object.keys(value).forEach(function (k, i) {
        //Add the Cells and Data
        var newCell = row.insertCell(-1);
        newCell.innerHTML = value[k].toString();
        newCell.setAttribute("class", `col-${i} hidden`);

    });
});


var rows = document.getElementById('dataTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
for (i = 0; i < rows.length; i++) {
    rows[i].onclick = function (m, i) {
        console.log(this.id.replace("row-", "")); //Logs App ID
        var tempId = this.id.replace("row-", ""); //Sets a variable to a App ID
        window.location.href = '@Url.Action("check", "Home")/' + tempId; //Calls A Href
    }
}

var headers = [];

document.querySelectorAll('.form-check-input').forEach(item => {
    item.addEventListener('click', event => {
        if (item.checked) {
            var col = document.getElementsByClassName(`col-${item.value}`);
            console.log(col);
            for (let item2 of col) {
                console.log(item2);
                item2.className = `col-${item.value} selected`;
            }

        }
        if (!item.checked) {
            var col = document.getElementsByClassName(`col-${item.value}`);
            for (let item2 of col) {
                console.log(item2);
                item2.className = `col-${item.value} hidden`;
            }
        }
    })
});
</script>
