@{
    ViewData["Title"] = "Settings";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Home Filters
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Application Name
                                </td>
                                <td>
                                    <input type="text" id="hAppName" name="hAppName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Department
                                </td>
                                <td>
                                    <input type="text" id="hDept" name="hDept">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Department Manager
                                </td>
                                <td>
                                    <input type="text" id="hDeptMgr" name="hDeptMgr">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Primary BA
                                </td>
                                <td>
                                    <input type="text" id="hBa" name="hBa">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Client
                                </td>
                                <td>
                                    <input type="text" id="hClient" name="hClient">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    User Filters
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    User First Name
                                </td>
                                <td>
                                    <input type="text" id="uFirstName" name="uFirstName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    User Last Name
                                </td>
                                <td>
                                    <input type="text" id="uLastName" name="uLastName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Username
                                </td>
                                <td>
                                    <input type="text" id="uUsername" name="uUsername">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Client Filters
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Client Name
                                </td>
                                <td>
                                    <input type="text" id="cName" name="cName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description
                                </td>
                                <td>
                                    <input type="text" id="cDesc" name="cDesc">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    Database Filters
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Enabled
                                </th>
                                <th>
                                    Search
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Application Name
                                </td>
                                <td>
                                    <input type="checkbox" id="dAppNameCheck" name="dAppNameCheck">
                                </td>
                                <td>
                                    <input type="text" id="dAppName" name="dAppName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Department
                                </td>
                                <td>
                                    <input type="checkbox" id="dDeptCheck" name="dDeptCheck">
                                </td>
                                <td>
                                    <input type="text" id="dDept" name="dDept">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Department Manager
                                </td>
                                <td>
                                    <input type="checkbox" id="dDeptMgrCheck" name="dDeptMgrCheck">
                                </td>
                                <td>
                                    <input type="text" id="dDeptMgr" name="dDeptMgr">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Primary BA
                                </td>
                                <td>
                                    <input type="checkbox" id="dBaCheck" name="dBaCheck">
                                </td>
                                <td>
                                    <input type="text" id="dBa" name="dBa">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Client
                                </td>
                                <td>
                                    <input type="checkbox" id="dClientCheck" name="dClientCheck">
                                </td>
                                <td>
                                    <input type="text" id="dClient" name="dClient">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tech Contact
                                </td>
                                <td>
                                    <input type="checkbox" id="dTContactCheck" name="dTContactCheck">
                                </td>
                                <td>
                                    <input type="text" id="dTContact" name="dTContact">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Application Type
                                </td>
                                <td>
                                    <input type="checkbox" id="dAppTypeCheck" name="dAppTypeCheck">
                                </td>
                                <td>
                                    <input type="text" id="dAppType" name="dAppType">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Technologies
                                </td>
                                <td>
                                    <input type="checkbox" id="dTechCheck" name="dTechCheck">
                                </td>
                                <td>
                                    <input type="text" id="dTech" name="dTech">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    P. Server
                                </td>
                                <td>
                                    <input type="checkbox" id="dPServerCheck" name="dPServerCheck">
                                </td>
                                <td>
                                    <input type="text" id="dPServer" name="dPServer">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    P. URL
                                </td>
                                <td>
                                    <input type="checkbox" id="dPUrlCheck" name="dPUrlCheck">
                                </td>
                                <td>
                                    <input type="text" id="dPUrl" name="dPUrl">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    QA Server
                                </td>
                                <td>
                                    <input type="checkbox" id="dQAServerCheck" name="dQAServerCheck">
                                </td>
                                <td>
                                    <input type="text" id="dQAServer" name="dQAServer">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    QA URL
                                </td>
                                <td>
                                    <input type="checkbox" id="dQAUrlCheck" name="dQAUrlCheck">
                                </td>
                                <td>
                                    <input type="text" id="dQAUrl" name="dQAUrl">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dev. Server
                                </td>
                                <td>
                                    <input type="checkbox" id="dDevServerCheck" name="dDevServerCheck">
                                </td>
                                <td>
                                    <input type="text" id="dDevServer" name="dDevServer">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dev. URL
                                </td>
                                <td>
                                    <input type="checkbox" id="dDevUrlCheck" name="dDevUrlCheck">
                                </td>
                                <td>
                                    <input type="text" id="dDevUrl" name="dDevUrl">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Code Source
                                </td>
                                <td>
                                    <input type="checkbox" id="dCodeSourceCheck" name="dCodeSourceCheck">
                                </td>
                                <td>
                                    <input type="text" id="dCodeSource" name="dCodeSource">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Repository
                                </td>
                                <td>
                                    <input type="checkbox" id="dRepoCheck" name="dRepoCheck">
                                </td>
                                <td>
                                    <input type="text" id="dRepo" name="dRepo">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Stability
                                </td>
                                <td>
                                    <input type="checkbox" id="dStabCheck" name="dStabCheck">
                                </td>
                                <td>
                                    <input type="text" id="dStab" name="dStab">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Future Dev.
                                </td>
                                <td>
                                    <input type="checkbox" id="dFutureCheck" name="dFutureCheck">
                                </td>
                                <td>
                                    <input type="text" id="dFuture" name="dFuture">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sensitivity
                                </td>
                                <td>
                                    <input type="checkbox" id="dSenCheck" name="dSenCheck">
                                </td>
                                <td>
                                    <input type="text" id="dSen" name="dSen">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criticality
                                </td>
                                <td>
                                    <input type="checkbox" id="dCritCheck" name="dCritCheck">
                                </td>
                                <td>
                                    <input type="text" id="dCrit" name="dCrit">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-block btn-outline-secondary">
                        Change Password
                    </button>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>