@model Sogeti_Client_Data_Repository.Models.userSearch
@{
    ViewData["Title"] = "User Search";
}

<script>
    var userData = [];
    var newUserFirstName = "";
    var newUserLastName = "";
    var newUserName = "";

    function loadInfo() {
        var table, row, cell, input;

        @{
            userSearchInfo userData = new userSearchInfo();
            List<userSearch> userList = userData.getUserInfo();

            foreach (userSearch entry in userList) {
            <text>
        var entry = { userSearchId: '@entry.UserID', UserName: '@entry.UserName', UserFirstName: '@entry.UserFirstName', UserLastName: @entry.UserLastName };
        userData.push(entry);
            </text>
            }
        }
        console.log(userData)

        table = document.getElementById("userTable");


        for (i = 0; i < userData.length; i++) {
            row = table.insertRow(table.length);

            cell = row.insertCell(0);
            cell.setAttribute("class", "col-3");
            input = document.createElement('input');
            input.type = 'text';
            input.value = userData[i].UserName;
            cell.appendChild(input);

            cell = row.insertCell(1);
            cell.setAttribute("class", "col-3");
            input = document.createElement('input');
            input.type = 'text';
            input.value = userData[i].UserFirstName;
            cell.appendChild(input);

            cell = row.insertCell(2);
            cell.setAttribute("class", "col-3");
            input = document.createElement('input');
            input.type = 'text';
            input.value = userData[i].UserLastName;
            cell.appendChild(input);
        }

    }

    function searchForUser() {
        var userFirstNameToSearchFor = document.getElementById("firstNameUser").value;
        var userLastNameToSearchFor = document.getElementById("lastNameUser").value;
        var userNameToSearchFor = document.getElementById("nameUser").value;
        table = document.getElementById("userTable");
        table.innerHTML = "";

        console.log(clientData.length);

        for (i = 0; i < userData.length; i++) {
            if (userData[i].UserFirstName.includes(userFirstNameToSearchFor)
                || userData[i].UserLastName.includes(userLastNameToSearchFor)
                || userData[i].UserName.includes(userNameToSearchFor)) {

                console.log("true")

                row = table.insertRow(table.length);

                cell = row.insertCell(0);
                cell.setAttribute("class", "col-3");
                input = document.createElement('input');
                input.type = 'text';
                input.value = userData[i].UserName;
                cell.appendChild(input);

                cell = row.insertCell(1);
                cell.setAttribute("class", "col-3");
                input = document.createElement('input');
                input.type = 'text';
                input.value = userData[i].UserFirstName;
                cell.appendChild(input);

                cell = row.insertCell(2);
                cell.setAttribute("class", "col-3");
                input = document.createElement('input');
                input.type = 'text';
                input.value = userData[i].UserLastName;
                cell.appendChild(input);
            }
        }
    }

    function saveUserSearch() {
        newUserFirstName = document.getElementById("clientToBeAdded").value;
        newUserLastName = document.getElementById("clientDescriptionToBeAdded").value;

        console.log(newUserFirstName);
        console.log(newUserLastName);
        console.log(newUserName);

        //window.location.href = 'Url.Action("saveClient", "Home")/' + newClientName + '/' + newDescription;
        $.ajax({
            type: "POST",
            url: "saveUserSearch",
            data: {
                name: newUserFirstName,
                name: newUserLastName,
                name: newUserName,
            },
            dataType: "json",
            success: function (response) {
                alert("success");
            },
            failure: function (response) {
                alert("failure");
            },
            error: function (response) {
                alert("error");
            }
        })
    }
    }
</script>


<head>
    <style>
        .table-fixed tbody {
            height: 300px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead,
        .table-fixed tbody,
        .table-fixed tr,
        .table-fixed td,
        .table-fixed th {
            display: block;
        }

            .table-fixed tbody td,
            .table-fixed tbody th,
            .table-fixed thead > tr > th {
                float: left;
                position: relative;
            }
    </style>
</head>
<body onLoad="loadInfo()">
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="col-md-2">
                        <input id =" firstNameUser"type="text" name="userFirstName" placeholder="User First Name">
                    </div>
                    <div class="col-md-2">
                        <input id="lastNameUser" type="text" name="userLastName" placeholder="User Last Name">
                    </div>
                    <div class="col-md-3">
                        <input id ="nameUser" type="text" name="userName" placeholder="Username">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block" onclick="searchForUser()" value="Search"> Search </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">User First Names</th>
                            <th scope="col" class="col-3">User Last Names</th>
                            <th scope="col" class="col-6">Usernames</th>
                        </tr>
                    </thead>
                    <tbody id ="userTable" >
                      
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-block">
                            New User
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>